// out: ../../build/styles/styles.css, compress: true

@import "normalize";
@import "variables";
@import "mixins";
@import "form";
@import "components/channel";
@import "components/message";
@import "components/message-input";
@import "components/user-login";
@import "components/modal";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255,255,255,0) !important;

  &:focus {
    outline: none;
  }
}

html {
  font-family: @font-main;
  color: @color-grey-very-dark;
  background-color: @color-grey-very-light;
}

header {
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid @color-grey-light;
  background-color: @color-white;
  box-shadow: @shadow-tiny-light;
}

body {
  margin: 0;
}

.content {
  max-width: 1080px;
  margin: 0 auto;
}

.main-content {
  padding: 10px;
}

::selection {
  background-color: @color-blue-very-light;
}
